@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


body {
  font-family: "Pixelify Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.experience {
  position: absolute;
  top: 37%;
  left: 1%;
  font-family: sans-serif;
}

.college {
  position: absolute;
  top: 37%;
  left: 73%;
  font-family: sans-serif;
}

.footer {
  position: absolute;
  display: flex;
  bottom: 2%;
  left: 40%;
  justify-content: space-around;
  width: 18%;
}

.footer > a {
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 480px) {
  .experience {
    display: none;
  }

  .college {
    display: none;
  }

  .footer {
    left: 8%;
    width: 90%;
  }
}